body{
	margin: 0px;
	padding: 0px;
	background: #F7F7F7;
}
ul{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.all{
	width: 100%;
	height: 80px;
	z-index: 900;
	position: absolute;
	top: 0;
	left: 0;
}
.all:hover{
	background: white;
}
.logo{
	float: left;
	margin-left: 130px;
	margin-top: 27px;
	width: 140px;
	height: 100%;
	background: url(../../img/index/logo_white.png) no-repeat;
	background-size: 140px;
	cursor: pointer;
}
.logo>a{
	width: 140px;
	height: 100%;
	display: inline-block;
}
.all:hover .logo{
	background: url(../../img/index/logo_blue.png) no-repeat;
	background-size: 140px;
}
.title-left{
	float: left;
	margin-left: 20px;
}
.title-left>li{
	width: 160px;
	height: 80px;
	float: left;
	text-align: center;
	line-height: 80px;
	color: white;
	cursor: pointer;
}
.all:hover .title-left>li>a{
	color: #666;
}
.title-left>li>a{
	width: 100%;
	height: 100%;
	display: inline-block;
	color: white;
}
.all .title-left>li>a:hover{
	color: #007cba;
	border-bottom: 3px solid #007cba;
	transition: 0.5s;
	box-sizing:border-box;
}
.title-left>li:last-child{
	width: 50px;
}
.title-right{
	float: right;
	margin-right: 130px;
	width: 100px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.title-right>li{
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.title-right>li:first-child{
	background: url(../../img/product-list/cart_blue.png);
	background-size: 32px;
	cursor: pointer;
}
.title-right>li:nth-child(2){
	background: url(../../img/product-list/profile_gray.png);
	background-size: 32px;
	cursor: pointer;
}
.all:hover .title-right>li:first-child{
	background: url(../../img/product-list/cart_white.png);
	background-size: 32px;
}
.title-right>li:first-child:hover{
	background: url(../../img/product-list/cart_hover.png);
	background-size: 32px;
}
.title-right>li:nth-child(2):hover{
	background: url(../../img/product-list/profile_blue.png);
	background-size: 32px;
}
.title-right>span{
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	background: red;
	color: white;
	border-radius: 50%;
	top: 20px;
	left:18px;
	font-size: 14px;
}.banner{
	display: inline-block;
	background: url(../../img/product-list/product_banner.jpg) no-repeat;
	width: 100%;
	height: 540px;
	text-align: center;
	line-height: 540px;
	color: white;
	font-size: 50px;
}
/*弹出标签*/
.list-1,.list-2{
	position: absolute;
	width: 100%;
	height: 0px;
	top: 80px;
	left: 0;
	background: #F7F7F7;
	transition: 0.5s;
	box-sizing:border-box;
	padding-left: 295px;
	padding-right: 500px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}
.list-1>li{
	width: 120px;
	height: 140px;
	float: left;
	line-height: 0px;
}
.list-2>li{
	width: 100px;
	height: 140px;
	float: left;
	line-height: 0px;
}
.list-1>li:hover .list-1-1{
	opacity: 0.7;
}
.list-1>li:hover .list-1-2{
	color: #007cba;
}
.list-2>li:hover .list-1-2{
	color: #007cba;
}
.list-2>li:hover .list-1-3{
	background: url(../../img/index/2_hover@2x.png) no-repeat;
	background-size: 100px;
}
.list-1-1{
	display: inline-block;
	background: url(../../img/index/flexpai_nav_img-cn.png) no-repeat;
	background-size: 120px;
	width: 100%;
	height: 100px;
}
.list-1-2{
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: black;
}
.list-1-3{
	display: inline-block;
	background: url(../../img/index/2_normal@2x.png) no-repeat;
	background-size: 100px;
	width: 100%;
	height: 100px;
}
.list-3{
	position: absolute;
	width: 160px;
	height: 0px;
	top: 80px;
	left: 610px;
	background: #F7F7F7;
	transition: 0.5s;
	overflow: hidden;
}
.list-3>li{
	width: 100%;
	height: 50px;
	line-height: 50px;
	box-sizing:border-box;
	padding-right: 20px;
	color: black;
}
.list-3>li:hover{
	background: white;
	color: #007cba;
}
.list-4{
	position: absolute;
	width: 100px;
	height: 0px;
	top: 80px;
	left: 770px;
	background: #F7F7F7;
	transition: 0.5s;
	box-sizing:border-box;
	line-height: 50px;
	padding-right: 20px;
	font-size: 14px;
	overflow: hidden;
	color: black;
}
.list-4:hover{
	color: #007cba;
	background: white;
}
.title-left>li:first-child:hover .list-1{
	height: 210px;
}
.title-left>li:nth-child(2):hover .list-2{
	height: 210px;
}
.title-left>li:nth-child(3):hover .list-3{
	height: 150px;
}
.title-left>li:last-child:hover .list-4{
	height: 50px;
}



/*产品列表*/
.product-list{
	width: 100%;
	margin-top: 80px;
}
.product-list>ul{
	margin: 0 500px;
	display: flex;
	justify-content: space-between;
}
.product-list>ul>li{
	font-size: 14px;
	height: 30px;
	cursor: pointer;
}
/*js点击效果*/
.under-line{
	box-sizing:border-box;
	border-bottom: 2px solid #007cba;
	color: #007cba;
}
.product-list-2{
	width: 100%;
    margin-top: 30px;
    padding: 0 20px 80px;
    box-sizing: border-box;
    display: none;
}
#product-list2{
	display: block;
}
.PL{
	margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    float: left;
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(28,41,47,.08);
    transition: all .25s linear;
    position: relative;
    z-index: 20;
    width: 455px;
    height: 513px;
}
.PL:last-child{
	margin-bottom: 50px;
}
.PL:hover{
	transform: translateY(-5px);
	box-shadow: 5px 5px 5px #949494;
}
.PL>div:first-child>span{
	width: 64px;
    height: 32px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 32px;
    background-color: #24b510;
    position: absolute;
    top: 0px;
    right: 0px;
}
.PL>div:nth-child(2){
	width: 100%;
	height: 50%;
	padding: 80px 15% 0;
	box-sizing:border-box;
	background: url(../../img/product-list/index_rowrite_img_cn.jpg) no-repeat;
	background-size: 320px;
	background-position: 70px 12px;
}
.PL>div:last-child{
	width: 100%;
	height: 50%;
	box-sizing:border-box;
	padding: 10% 5%;
}
.PL-A{
	text-align: center;
}
.Pl-1{
	font-size: 18px;
}
.Pl-2{
	font-size: 14px;
	color: #a4a4a4;
	margin: 25px auto;
}
.Pl-3{
	line-height: 40px;
	color: #007cba;
}
.PL-A>button{
	width: 110px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #007cba;
	opacity: 0;
}
.PL-4{
	background: #fff;
	color: #007cba;
}
.PL-5{
	background: #007cba;
	color: #fff;
}
.PL:hover .PL-A>button{
	opacity: 1;
}
.PL:hover .Pl-3{
	display: none;
}

/*底部*/
.end{
	width: 100%;
	height: 421px;
	background: #333333;
	overflow: hidden;
}
.end-1{
	width: 1238px;
	height: 285px;
	margin-top: 60px;
	margin-left: 60px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	float: left;
}
.end-1>ul>li{
	margin-bottom: 12px;
}
.end-1-1{
	color: #949494;
	font-size: 14px;
	cursor: pointer;
}
.end-1-2{
	color: white;
	font-size: 14px;
}
.end-1-1:hover{
	color: #007cba;
}
.end-2{
	width: 160px;
	height: 151px;
	float: right;
	margin-right: 80px;
	margin-top: 60px;
}
.end-2>button>span{
	width: 23px;
	height: 21px;
	background: url(../../img/product-list/信封_填充.png) no-repeat;
	background-size: 23px;
	position: absolute;
	top:7px;
	left: 40px;
}
.end-2>button>p{
	position: absolute;
	top:0px;
	left: 73px;
}
.end-2>p:first-child{
	font-size: 22px;
    color: #E4E4E4;
    margin: 0 auto;
    text-align: center;
}
.end-4{
	font-size: 14px;
    color: #949494;
    line-height: 28px;
    margin: 0;
}
.end-2>button{
	width: 160px;
	height: 36px;
	margin-top: 20px;
    background: #007cba;
    border: none;
    color: #E4E4E4;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
}
.end-3{
	width: 100%;
	height: 51px;
	border-top: 1px solid #3E3E3E;
	margin-top: 369px;
}
.end-3>span{
	line-height: 48px;
    font-size: 12px;
    color: #949494;
    margin-left: 70px;
}
.end-text{
	float: right;
	margin-right: 100px;
	margin-top: 18px;
    color: #949494;
    position: relative;
}
.end-text>li{
	width: 80px;
	height: 18px;
	float: left;
	font-size: 12px;
	border-left: 1px solid #949494;
	text-align: center;
	cursor: pointer;
}
.end-text>li:hover{
	color: #007cba;
}
.end-text-1{
	background: url(../../img/product-list/微信.png) no-repeat;
	background-size: 19px;
	position: absolute;
	top: 0px;
	left: -70px;
	display: inline-block;
	width: 19px;
	height: 16px;
	cursor: pointer;
}
.end-text-1:hover{
	background: url(../../img/product-list/微.png) no-repeat;
	background-size: 19px;
}
.end-text-2{
	background: url(../../img/product-list/新浪微博.png) no-repeat;
	background-size: 19px;
	position: absolute;
	top: 0px;
	left: -38px;
	display: inline-block;
	width: 19px;
	height: 16px;
	cursor: pointer;
}
.end-text-2:hover{
	background: url(../../img/product-list/新浪.png) no-repeat;
	background-size: 19px;
}